*{
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(to top, #1a6f76 50%, #281e65 100%, #7db9e8 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    --var-color:rgb(0,238,255);
    background-color: #000;
}

.light{
    font-size: 2rem;
    color: var(--var-color);
    position: relative;
    font-weight: bold;
}

.light::before{
    position: absolute;
    content: attr(data-text);
    text-shadow: 0px 0px 20px var(--var-color);
    filter: blur(10px) brightness(0);
    animation: flicker 2s linear forwards;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes flicker{
    0%{
        filter: blur(5px) brightness(1);
    }
    3%{
        filter: blur(5px) brightness(0);
    }
    6%{
        filter: blur(5px) brightness(0);
    }
    7%{
        filter: blur(5px) brightness(1);
    }
    8%{
        filter: blur(5px) brightness(0);
    }
    9%{
        filter: blur(5px) brightness(1);
    }
    10%{
        filter: blur(5px) brightness(0);
    }
    20%{
        filter: blur(5px) brightness(1);
    }
    50%{
        filter: blur(5px) brightness(1);
    }
    70%{
        filter: blur(5px) brightness(1);
    }
    100%{ 
        filter: blur(5px) brightness(1);
 
    }

    
}
body{
    background-color:#eee;
}
#modal-signup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    animation: modalFadeIn ease-in 0.4s;
    background-color: rgba(0, 0, 0, 0.6);
}
#modal-signup #btn-close{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    padding: 14px;
    font-size: 25px;
    color: white;
}
#modal-signup #btn-close:hover{
    cursor: pointer;
}
.col-bg{
    padding: 8px 16px;
    background: linear-gradient(to bottom, rgba(26, 111, 118, 1) 50%, rgba(40, 30, 101, 1) 100%, rgba(125, 185, 232, 1) 100%);
}
.sign-up .heading{
    font-size: 37px;
    font-family: cursive;
    color: springgreen;
    margin-top: 16px;
    text-align: center;
}
.sign-up .form-group-spe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-group{
    margin-right: 0 !important;
}
.form-control{
    font-size: 13px;
    border-radius: 30px;
    border: none;
    outline: none;
    height: 35px;
}
.form-control:focus::placeholder{
    border: none;
}
.form-group-spe p, .form-group p, .form-check-label{
    font-size: 14px;
    margin-bottom: 4px;
}
.form-group-spe .form-control{
    width: 100%;
}
.form-group .form-control{
    width: 100%;
}
.sign-up .form-group{
    display: block;
}
.btn-success{
    margin-top: 8px !important;
    width: 35%;
    height: 35px;
    border-radius: 30px;
}
.btn-success:hover{
    box-shadow: rgb(38 57 77) 0px 20px 30px -10px !important;
}
.form-check-input{
    width: 20px;height: 20px;
}
.col-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col-title h1{
    font-size: 60px;
    margin-left: 50px;
    color: springgreen;
    font-family: cursive;
}
.title-social{
    font-size: 13px;
    text-align: center;
    margin-top: 6px !important;
    margin-bottom: 2px !important;
}
.signup-other{
    display: flex;
    margin-top: 6px;
    align-items: center;
    justify-content: space-around;
}
.signup-other .social img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.signup-other .social{
    width: 50%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 6px;
    padding-top: 8px;
    border-radius: 30px;
    background-color: dimgrey;
}
.signup-other .social:hover{
    cursor: pointer;
    opacity: 0.8;color: springgreen;
    background-color: #222425;
    transition: all 0.3s ease-in;
}
.social p{
    text-align: center;
}
.re-login{
    font-size: 13px;
    margin-top: 16px;
    margin-bottom: 4px;
    text-align: center;
}
.re-login a{
    font-size: 15px;
    text-decoration: none;
    color: springgreen;
}
.re-login a:hover{
    color: #DE9254;
}




#titletourism{
    position: absolute;
    top:0 ;
    left: 0;
    color: #EC5F20;
    font-size:24px;
    margin-left: 10px;
    text-decoration: none;
    box-shadow: none;
}
#navbutton1{
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    box-shadow:none;
    font-weight:1000;
}
#navbutton2{
    position: absolute;
    top: 40px;
    right: 0;
    color: #ffffff;
    box-shadow:none;
    font-weight: 700;

}
#navbutton3{
    position: absolute;
    top: 80px;
    right: 0;
    color: #ffffff;
    box-shadow:none;
    font-weight: 700;

}


.btn::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .btn:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .btn::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgb(0,0,0);
    z-index: -1;
    transition: transform .3s ease;
  }



  body {
	background: linear-gradient(-45deg,#ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}